# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite Database
*.db
*.sqlite
*.sqlite3

# Logs and Reports
logs/
reports/
*.log

# VS Code / IDE
.vscode/
.idea/

# ML Models
models/*.pkl
models/*.joblib
