[Unit]
Description=ED Capital Quant Engine Daemon
After=network.target

[Service]
Type=simple
User=root
# Projenin kurulu olduğu dizin (Kullanıcı tarafından değiştirilmelidir)
WorkingDirectory=/opt/ed_quant_engine
# Sanal ortam python binary'si
ExecStart=/opt/ed_quant_engine/venv/bin/python main.py
Restart=always
RestartSec=10
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
